* {
    margin: 0;
}

a {
    text-decoration: none;
    color: steelblue;
}

section {
    /* border: 1px solid; */
    font-size: 50px;
}

.title-image {
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
    position: relative;
}

.title-image h1 {
    border: 5px solid whitesmoke;
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 100px;
    padding: 20px;
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.items {
    /* border: 1px solid; */
    font-size: 20px;
    padding: 10px;
}

h1 {
    text-align: center;
    padding: 20px;
}

h3,
p {
    padding-top: 10px;
}

footer {
    padding: 50px;
    background-color: black;
    color: white;
}