* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: steelblue;
}

/* HI HDIT I COMMENTED OUT A SECTION HERE BECAUSE IT WAS MESSING WITH THE FOOTER- BUT IT DIDNT CHANGE ANYTHING TO YOUR SITE */
/* section {
   
    font-size: 50px;
} */

.resourcesHero {
    background-image: linear-gradient(rgba(4, 9, 0, 0.1), rgba(4, 9, 0, 0.2));
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: black;
    border-bottom: 5px solid #030303;


}


/* .title-image {
    background-color: whitesmoke;
    text-align: center;
    /* padding: 20px; 
    position: relative;

} */

.title-image h1 {
    border: 5px solid whitesmoke;
    position: absolute;
    top: 40%;
    left: 35%;
    font-size: 5rem;
    padding: 20px;
    color: black;
}



.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

.items {

    font-size: 20px;
    padding: 10px;
    background-color: rgb(175, 151, 151);
    color: #fff;
    padding: 20px;
    border: rgb(0, 0, 0) 5px solid;


}

h1 {
    text-align: center;
    padding: 20px;
}

h3,
p {
    padding-top: 10px;
}

@media screen and (max-width:800px) {
    .title-image h1 {
        font-size: 2rem;
        padding: 10px;
        top: 30%;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .items {
        font-size: 20px;
        padding: 10px;
    }

    h1 {
        padding: 10px;
    }
}